# Ignore everything
*
*/


# Ignore all internal directories and other build artifacts
dist/Nepali Date/_internal/
dist/Nepali Date.app/**
dist/**/*.so
dist/**/*.dylib
dist/**/*.py
dist/**/*.pyc
dist/**/*.pyd

# Whitelist documentation
!README.md
!LICENSE
!.gitignore
!Nepali\ Date.app/
